{% extends 'base.html.twig' %}

{% block header %}
    {% include 'partials/header_client.html.twig' %}
{% endblock %}

{% block title %}Page de commande{% endblock %}

{% block body %}


<div class="container mt-5">
    <h1 class="mt-5 border p-3 bg-secondary">Choix des plats</h1>
    <table class="table border mt-5">
        <thead class="bg-primary">
        <tr>
            <th style="color: white">Nom</th>
            <th style="color: white">Description</th>
            <th></th>
            <th style="color: white">Prix</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for plat in plats %}
            <tr>
                <td>{{ plat.nom }}</td>
                <td>{{ plat.description }}</td>
                <td><img style="width: 50px; height: 50px" src="/image/pizza.jpg" alt="pizza"></td>
                <td>{{ plat.prix }} €</td>
                <td>
                    <a href="{{path('panier_add', {'id': plat.id})}}" class="btn btn-success float-right">
                        <i class="fas fa-shopping-cart mr-1"></i>
                        Ajouter
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
