{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block header %}
    {% include 'partials/header_client.html.twig' %}
{% endblock %}

{% block body %}
    <div style="height:650px" class="container">
        <h1 class="mt-5 border p-3 bg-secondary">Bienvenue sur la page d'accueil</h1>
    </div>
{% endblock %}